* {
    color: white;
    font-family: "Bebas Neue", serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url(img/wallpaper.jpg);
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: center;
}

#menu  {
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-family: "Quicksand", sans-serif;
    width: 55vw;
    font-size: 25px;
    border-radius: 20px;
    position: fixed;
}

#menu ul {
    display: inline-block;
}

#menu .logo img {
    width: 140px;
    height: 80px;
} 

#menu .logo {
    margin: 5% 0 5% 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu ul img {
    width: 30px;
    height: 30px;
}

#menu li a {
    text-decoration: none;
}

#menu li {
    margin-right: 30px;
    display: inline-block;
    border-bottom: 2px solid transparent;
    transition: all 0.5s;
}

#menu li:hover {
    transition: all 0.5s;
    border-bottom: 2px solid white;
}

#home {
    text-align: center;
    margin-top: 15%;
    font-size: 60px;
    padding-bottom: 5%;
}

#home h1, span{
    font-family: "Montserrat", serif;
    color: rgb(255, 255, 255);
}

#home span {
    background: url('img/emphasisbg1.jpg') no-repeat center;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

#home p {
    margin: 0 25% 0 25%;
    font-size: 25px;
}

#about {
    background-color: black;
    user-select: none;
    display: flex;
    width: 100vw;
    height: 750px;
    font-family: "Quicksand", sans-serif;
    padding: 0;
    margin: 0;
    padding-bottom: 5%;
    margin-left: -1%;
}

.abouttext h1 {
    font-size: 60px;
    margin: 5% 0 1% 5%;
    font-family: "Montserrat", serif;
}

.abouttext p {
    font-size: 25px;
    margin: 0 10% 5% 5%;
    font-family: "Montserrat", serif;
}

.aboutimg img {
    object-fit: cover;
    border-radius: 20px;
    width: 550px;
    height: 600px;
}

.aboutimg {
    margin: 5% 5% 0 0;
}

.contact p {
    width: 400px;
    height: 80px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s all;
    border-radius: 5px;
    font-size: 50px;
    font-family: "Bebas Neue", serif;
    margin-left: 5%;
}

.contact p {
    width: 400px;
}

.contact p:hover {
    transition: 0.3s all;
    color: black;
    background-color: white;
}

.contact a {
    text-decoration: none;
}

#services {
    padding-bottom: 60%;
}

.servicetext h1 {
    font-size: 60px;
    
}

.servicetext p {
    font-size: 25px;
    text-align: center;
}

.servicetext h1, p {
    font-family: "Montserrat", serif;
    display: flex;
    justify-content: center;

}

#catalog {
    flex-wrap: wrap;
    padding-top: 5%;
    display: flex;
    justify-content: center;
    gap: 2%;
}

.service1 img, .service2 img, .service3 img, .service4 img {
    width: 100%;
    height: 40%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    transition: all 0.3s;
}

.service1:hover img, .service2:hover img, .service3:hover img, .service4:hover img {
    width: 100%;
    height: 60%;
    transition: all 0.3s;
}

.service1 p, .service2 p, .service3 p, .service4 p {
    font-family: "Bebas Neue", serif;
    font-size: 30px;
}

.service1 h1, .service2 h1, .service3 h1, .service4 h1 {
    font-family: "Montserrat", serif;
    text-align: center;
}



.service1 a, .service2 a, .service3 a, .service4 a {
    width: 300px;
    height: 80px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s all;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
}


.service1 a:hover, .service2 a:hover, .service3 a:hover, .service4 a:hover {
    background-color: rgb(74, 74, 74);
}


.service1, .service2, .service3, .service4 {
    flex-direction: column;
    align-items: center;
    display: flex;
    background-color: black;
    object-fit: cover;
    border-radius: 20px;
    text-align: center;
    width: 350px;
    height: 450px;
}

.service4 {
    font-size: 13px;
}


@media screen and (max-width:1500px) {
    #menu {
        width: 60vw;
    }

    .service1, .service2, .service3, .service4 {
        width: 330px;
    }
}

@media screen and (max-width:1040px) {

    #menu .inicio, #menu .sobre, #menu .agenda {
        display: none;
    }

    #menu .logo {
        margin: 0;
    }

    #home {
        margin-top: 20%;
        font-size: 40px;
    }

    #home p {
        margin: 0 10% 0 10%;
    }


}

@media screen and (max-width:590px) {
    .abouttext .aboutp {
        font-size: 21px;
    }
}

@media screen and (max-width:1280px) {

    #menu {
        width: 70vw;
    }

    #menu .logo img {
        width: 110px;
        height: 60px;
    }

    .aboutimg {
        display: none;
    }

    .service1, .service2 {
        margin-bottom: 20px;
    }
}